{% extends 'base.html.twig' %}

{% block title %}Aces index{% endblock %}

{% block body %}
    <h1>Aces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ace_name</th>
                <th>Callsign</th>
                <th>Ace`s aircraft</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ace in aces %}
            <tr>
                <td>{{ ace.id }}</td>
                <td>{{ ace.aceName }}</td>
                <td>{{ ace.callsign }}</td>
                <td>
                {{ace.getFlyOn()|join('|')}}
                </td>
                <td>
                    <a href="{{ path('app_aces_show', {'id': ace.id}) }}">show</a>
                    <a href="{{ path('app_aces_edit', {'id': ace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_aces_new') }}">Create new</a>
{% endblock %}
